@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #F0F4F1;
  background: #565D56;
}

body input,
body textarea {
  color: black;
}

a {
  color: #9DA69F;
}

a:hover {
  border-bottom: 1px solid;
}

.button {
  background-color: #9DA69F;
}
p {
  margin: 8px 0;
}

code {
  color: #ffa500;
}

li {
  padding: 4px;
}
